@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Tenor+Sans&display=swap");

// font-family: "Tenor Sans", sans-serif;

html,
body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  // color: $color-white;
}
